thirdparty/

libNJLIC-lua-swig-bullet3-staticd.a
libNJLIC-lua-swig-njlic-staticd.a
libNJLIC-staticd.a

PLACEHOLDER
_CPack_Packages/Linux/DEB/NJLIC-1.1.3-Linux/
assets/
doc/
install_manifest.txt
libNJLIC.so
lua
luac
tagfile
